.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav {
    text-align: right;
    flex-grow: 1;
}
nav span {
    display: inline-block;
    padding: 20px 10px;
}

header {
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  font-family: "Helvetica", sans-serif;
}
header img {
    height: 50px;
}
body {
  background-color: black;
  color: seashell;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  margin: 0;
    text-align: center;
    
}
.main {
    padding-top: 70px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}
#mission {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    height: 700px;
}
#mission .content {
    width: 100%;
    margin: auto;
    background-color: black;
}
#mission h2 {
    text-align: center;
}
#mission h4 {
    text-align: center; 
}
h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

#featured {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding: 70px;  
}
.items img {
    height: 200px;
    margin: 10px;
    display: block;
}
#locations {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    height: 500px;
    padding-top: 70px;
}
.location {
    background-color: black;
    width: 300px;
    opacity: 1;
    margin: 40px; 
    }
.contact {
    height: 200px;
} 
footer {
    text-align: left;
    padding-left: 20px;
    padding-left: 20px;
}